* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	user-select: none;
}

body{
	background-color: #ffffff;
}

/* .container{
	background-color: #fff;
	width: 90vmin;
	padding: 30px 30px;
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
	border-radius: 10px;
	box-shadow: 0 25px 50px rgba(7,20, 35,0.2);
	display: flex;
} */

.container{
	display: flex;
	flex-direction: row;
	background-color: transparent;
	padding: 30px 30px;
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
	width: 200vmin;
	justify-content: space-between;
}

.flex-item1{
	width: 400px;
	padding: 30px;
	background-color: #020929;
	border-radius: 10px;
}

.flex-item2{
	flex:auto;
	padding: 10px;
	background-color: #faf1f1;
	border-radius: 10px;
	margin-left: 50px;
	border: 1px solid #000;
}

.flex-item2:hover{
	box-shadow: 2px 2px 15px 4px rgba(0,0,0,0.66);
	-webkit-box-shadow: 2px 2px 15px 4px rgba(0,0,0,0.66);
	-moz-box-shadow: 2px 2px 15px 4px rgba(0,0,0,0.66);
}

.options{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	column-gap: 15px;
}

button{
	height: 28px;
	width: 28px;
	margin-bottom: 10px;
	display: grid;
	align-items: center;
	border-radius: 3px;
	border:none;
	background-color: #fff;
	outline: none;
	color: #020929;
}

select {
	padding: 7px;
	border: 1px solid #200929;
	border-radius: 3px;
}

.options label,
.options select{
	font-family: sans-serif;
}

.input-wrapper{
	display: flex;
	align-items: center;
	column-gap: 8px;
	margin-top: 10px;
}

input[type="color"]{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: transparent;
	width: 40px;
	height: 25px;
	border: none;
	cursor: pointer;
	border-radius: 50%;
}

input[type="color"]::-webkit-color-swatch {
	border-radius: 10%;
	box-shadow: 0 0 0 2px #fff;
}

input[type="color"]::-moz-color-swatch {
	border-radius: 10%;
	box-shadow: 0 0 0 2px #fff;
}

label{
	color:#fff;
}

#text-input {
	border: 1px solid #ddd;
	padding: 20px;
	height: 50vh;
	overflow-x:hidden;
	background-color: #fff;
}

/* *::-webkit-scrollbar {
	width: 10px;
	background-color: #000;
}

*::-webkit-scrollbar-thumb{
	background-color: skyblue;
	border-radius: 20px;
} */

*::-webkit-scrollbar {
	width: 10px; 
 }

*::-webkit-scrollbar-track {
  background-color: rgb(239, 245, 243);
}

*::-webkit-scrollbar-thumb {
  background: #024448;
  border-radius: 20px;
}

*::-webkit-scrollbar-thumb:hover {
    background: #020929;
  }


.active{
	background-color: #1A120B;
	color: #fff;
}


.output button, .save button{
	color:#fff;
	margin-top: 20px;
	width: 45px;
	height: 45px;
	font-size: 20px;
	outline: none;
	border: none;
	border-radius: 50%;
}

.output button{
	background-color: #110319;	
}

.save button{
	background-color: #0000FF;
	margin-left: 20px;
}

.output button:active{
	transform: translate(2px, 2px);
}

.flex-item2 button:hover{
	box-shadow: 2px 2px 5px #000;
}
